@model Solucoes.Web.Areas.Conta.Models.Auth.ResetPasswordViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

<div class="form-container form-container-small">
    <div class="card shadow">
        <h2 class="card-header">Redefinir Senha</h2>
        <div class="card-body">
            <p class="card-text mb-4">Por favor, insira sua nova senha abaixo.</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger my-4" })

            @using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Token)

                <div class="row mb-3">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text" id="email-addon">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @aria_describedby = "email-addon", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text" id="password-addon">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @aria_describedby = "password-addon" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text" id="confirm-password-addon">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @aria_describedby = "confirm-password-addon" })
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary d-block ms-auto" type="submit">Redefinir Senha</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}